
process.executor = 'slurm'
process.queue = 'compute'
process.memory = '16 GB'
process.cpus = 4
process.time = '48h'

params {
  input_dir     = '/path/to/input_vcfs'
  genetic_map   = '/path/to/genetic_maps'
  reference_dir = '/path/to/reference_panel'
  output_dir    = 'imputation_results'
  chroms        = (1..22) 
}

singularity {
  enabled = false
}
